# go get & dep files
Gopkg.lock
vendor
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
rep-controller

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

pkg/apis/repo/v1alpha1/zz_generated.deepcopy.go
pkg/client/
